<div class="chat-container">
  <div class="chat-messages">
    <div class="grip gap-y-2">
      <!-- Chat Messages -->
      <app-chat-message text="Escribe el texto a revisar"/>
      @for(message of messages(); track $index ) {
        @if(message.isGpt) {
          <app-chat-message [text]="message.text" />
        } @else {
          <app-my-message [text]="message.text" />
        }
      }

      @if(isLoading()) {
        <app-typing-loader />
      }
    </div>
  </div>
  <!-- MessageBox -->
  <app-text-message-box placeholder="Escribe aquí lo que deseas" (onMessage)="handleMessage($event)"/>

  <!-- <app-text-message-box-file
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessageWithFile($event)"
  /> -->

  <app-text-message-box-select
    placeholder="Escribe aquí lo que deseas"
    [options]="[{id:'1', text: 'One'},{id:'2', text: 'Two'},{id:'1', text: 'Three'}]"
    (onMessage)="handleMessageWithSelect($event)"
  />

</div>

