<div class="chat-container">
  <div class="chat-messages">
    <div class="grip gap-y-2">
      <!-- Chat Messages -->
      <app-chat-message
        text="Texto a revisar!?"
      />

      <app-my-message
        text="Hola Mundo!"
      />

      <app-typing-loader />
    </div>
  </div>
  <!-- MessageBox -->
  <!-- <app-text-message-box
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessage($event)"
  /> -->

  <app-text-message-box-file
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessageWithFile($event)"
  />
</div>>
